/* Write your CSS here */
.tab-item-container {
  list-style-type: none;
}

.active-btn {
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #7b8794;
  margin-left: 4px;
  margin-right: 4px;
  border: none;
  background-color: transparent;
}

.active-tab-btn {
  color: #2563eb;
  cursor: pointer;
  outline: none;
}
